# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging

# Unit test / coverage reports

# Flask stuff:
instance/

# Jupyter Notebook
.ipynb_checkpoints

# Pyre type checker
.DS_Store

.idea
*.pyc
*.pyo
*.pyd
*.pytest_cache

cloud_sql_proxy
flaskrun-develop.json
src/__pycache__/main.cpython-37.pyc
